/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling with fade-in effect */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;  /* Start with opacity 0 */
    animation: fadeIn 2s forwards; /* Apply fade-in effect */
}

/* Define the fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Background video styling */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Container box styling */
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    border-radius: 12px;  /* Slightly rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;  /* Center the text inside the container */
    z-index: 1;
}

/* Title text styling */
h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Input field styling */
input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px; /* Rounded corners */
}

/* Button styling */
button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease; /* Smooth transform and color change */
}

button:hover {
    background-color: #218838;
    transform: scale(1.05); /* Slightly increase the size of the button when hovered */
}

/* Result box styling */
#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 8px; /* Rounded corners */
}

/* Error message styling */
.error {
    color: red;
}

/* Copy Button styling */
#copyButton {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease; /* Smooth transform and color change */
}

#copyButton:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Slightly increase the size of the button when hovered */
}

/* Copy message styling */
#copyMessage {
    margin-top: 10px;
    color: green;
}

/* Footer styling */
footer {
    margin-top: 50px;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 14px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
